<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.DCAP" version="1.8.0" targetFramework="native" />
  <package id="Microsoft.Windows.ImplementationLibrary" version="1.0.210204.1" targetFramework="native" />
  <package id="open-enclave" version="0.15.0.0" targetFramework="native" />
</packages>