ecalls.o
enclave_t.c
enclave_t.h
enclave_t.o
genquote_enclave
genquote_enclave.debug.signed
genquote_enclave.prodid.signed
genquote_enclave.release.signed
genquote_enclave.securityversion.signed
private.pem
public.pem
enclave_u.c
enclave_u.h
enclave_u.o
genquote_sgx_host
host.o

.config_HW_DEBUG_x64
